<h3 style="text-align:center">Welcome: <span  style="color: brown;">{{user.firstName}}, {{user.lastName}}</span></h3>

<h2 style="text-align: center;">
    Hey, welcome to your dashboard! You can  Add rooms and view rooms added by you here!
</h2>
<section class="adminDashGrid">
<article class="adminDashGridItem">
            <p>Add rooms Here!</p>
           <a href="/getrooms" class="secondlink">View Rooms Added</a>
</article>

<article class="adminDashGridItem">
             <p>View rooms Here!</p>
          <a href="/addroom" class="secondlink">Add More Rooms</a>
</article>

</section>
