<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/70195ad3d9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>

<body>
    <header class="headerbar">
            <h1 class="logo"><a href="#"><i class="fab fa-airbnb icon-4x"></i>Airbnb</a></h1>
        </h1>
        <ul class="main-nav">
            <li><a href="/register">Register</a></li>
            <li><button id="myBtn">Login</button></li>
            <li><a href="/explore">Explore</a></li>
        </ul>
  </header> 

    <main>
        {{{body}}}



    <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class=" modal-content ">
    <span class="close">&times;</span>
   <div class="login-page">
    <div class="form">
    <form class="register-form">
        <h2 style="text-align: center;">Sign in for exclusive deals</h2>
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="/register">Create an account</a></p>
    </form>
    </div>
</div>
  </div>

</div>


<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


    </main>

    </section>

    <footer class="footerbar">
        <section>
            <p> Airbnb &copy; All rights reserved</p>
        </section>
        <section class="iconsGrid">
            <article class="iconsGridItem">
                <i id="fb" class="fab fa-facebook-f"></i>
            </article>
            <article class="iconsGridItem">
                <i id="inst" class="fab fa-instagram"></i>
            </article>
            <article class="iconsGridItem">
                <i id="twitter" class="fab fa-twitter"></i>
            </article>
            <article class="iconsGridItem">
                <i id="linkedin" class="fab fa-linkedin"></i>
            </article>
        </section>


    </footer>
</body>

</html>