<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/70195ad3d9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
        <header>
            <ul>
                <li>
                     <img src="http://pluspng.com/img-png/airbnb-logo-png-airbnb-logo-1600.png" alt="Airbnb Logo PNG" style="width: 100%;
  height: 30em;
    background-position: center;
    background-repeat: no-repeat;">">
                </li>
                <li>
                    <h2>Airbnb</h2>
                </li>
            </ul>
        </header>
        <nav>    
                <ul>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Log in</a></li>
                </ul>
        </nav>
        <main>
                {{{body}}}
        </main>
        
        </section>

        <footer>
            <p style="padding-top: 2rem;font-size: 2rem;;"> Airbnb &copy; All rights reserved</p>

        <section class="icons">
            <i id="fb" class="fab fa-facebook-f"></i>
            <i id="inst" class="fab fa-instagram"></i>
            <i id="twitter" class="fab fa-twitter"></i>
            <i id="linkedin" class="fab fa-linkedin"></i>
        </section>
        </footer>
</body>
</html>