<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/70195ad3d9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300|Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>

<body>
    <header class="headerbar">
        <section >
              <h1 class="logo"><a href="/"><i class="fab fa-airbnb icon-4x"></i>Airbnb</a></h1>
        </section>
        <section class="navGrid">
            <article class="navGridItems">
                <a href="/register">Register</a></li>
            </article class="navGridItems">
            <a href="/login">login</a>
                
            </article>
            <article class="navGridItems">
                <a href="/explore">Explore</a></li>
            </article>
            <article class="navGridItems">
                <a href="#">Contact</a></li>
            </article>
        </section>
  </header> 

    <main>
        {{{body}}}


    </main>

    </section>

    <footer class="footerbar">
        <section>
            <p> Airbnb &copy; All rights reserved</p>
        </section>
        <section class="iconsGrid">
            <article class="iconsGridItem">
                <i id="fb" class="fab fa-facebook-f"></i>
            </article>
            <article class="iconsGridItem">
                <i id="inst" class="fab fa-instagram"></i>
            </article>
            <article class="iconsGridItem">
                <i id="twitter" class="fab fa-twitter"></i>
            </article>
            <article class="iconsGridItem">
                <i id="linkedin" class="fab fa-linkedin"></i>
            </article>
        </section>


    </footer>
</body>

</html>