<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/70195ad3d9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>src="/../public/css/style.css"</script>
    <title>{{title}}</title>
</head>
<body>
        <header>
            <h1>{{headingInfo}}</h1>
        </header>
        <nav>
            <div class="nav">
                    
                <ul>
                       <li><div class="icons">
                            <i class="fab fa-airbnb"></i>
                </div></li> 
                    <li><a href="#">Host a Home</a></li>
                    <li><a href="#">Host an Experience</a></li>
                    <li><a href="#">Explore</a></li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Sign In</a></li>
                </ul>
            </div>
        </nav>
        <main>
                {{{body}}}
        </main>
        <section class="boxes">
            <article>
                <p>OVERNIGHT TRIP.MELBOURNE</p>
            <h3>Surf and Camp on the Great Ocean Road</h3>
            <p>What we will do:</p>
            <p>Beginners and intermediate surfers are welcome on this 2-day road trip along the Great Ocean
                Road,
                Australia’s most scenic coastline.So you can get the most out of our seaside time, we’ll stop
                for a two-hour surf lesson at an accredited school. When we’re not surfing, we’ll watch the pro
                surfers at Bells Beach, see koalas and birds at Kennett River, visit the legendary 12 Apostles,
                explore caves at Loch Ard Gorge beach, and drive through Otway Rainforest</p>

            </article>
             <article>
                <p>OVERNIGHT TRIP.MELBOURNE</p>
            <h3>Surf and Camp on the Great Ocean Road</h3>
            <p>What we will do:</p>
            <p>Beginners and intermediate surfers are welcome on this 2-day road trip along the Great Ocean
                Road,
                Australia’s most scenic coastline.So you can get the most out of our seaside time, we’ll stop
                for a two-hour surf lesson at an accredited school. When we’re not surfing, we’ll watch the pro
                surfers at Bells Beach, see koalas and birds at Kennett River, visit the legendary 12 Apostles,
                explore caves at Loch Ard Gorge beach, and drive through Otway Rainforest</p>

            </article>
        </section>

        <footer>
            <p style="padding-top: 2rem;font-size: 2rem;;"> Airbnb &copy; All rights reserved</p>

        <div class="icons">
            <i id="fb" class="fab fa-facebook-f"></i>
            <i id="inst" class="fab fa-instagram"></i>
            <i id="twitter" class="fab fa-twitter"></i>
            <i id="linkedin" class="fab fa-linkedin"></i>


        </div>
        </footer>
</body>
</html>