<h3 class="dashboard_heading"> My dashboard</h3>
<p class="msg"> Welcome Back, Sashidhar!</p>

   <article class="dashboardBio_gridItem">
      <h4>your Details</h4>
        <p>sashidhar Meesala</p>
        <p>Email : sashidharklu@gmail.com
        </p>
        <p>Billing Address:</p>
        <p>520 The queensway, ON</p>
        <p><button class="btn-center"> Edit profile</button></p>
    </article>

<section class="data">
<section class="ubookings">
<h3>Your upcoming Bookings</h3>
<div class="places-block">
    <div class="destination_x">
     
      <img class="images" src="/img/room3.jpg" alt="image">
      
      <div class="content_x">
        <span>ENTIRE BUNGALOW · 3 BEDS | Point Boston Beach House</span>
        <p class="p-heading">Entire Guest House <span class="heart-red"><i class="fas fa-heart"></i></span>
        </p>
        <p>1900$ </p>
        <p> <i class="fa fa-star" aria-hidden="true"></i> 4.5 (200)<p>
        <div class="btn-center">
              <a href="#" class="btn" title="book">View Details</a>
        </div>
      </div>

      </div>
  </div>
</section>

<section class="pbookings">
<h3>Your Previous Bookings</h3>
<div class="places-block">
    <div class="destination_x">
     
      <img class="images" src="/img/room3.jpg" alt="image">
      
      <div class="content_x">
        <span>ENTIRE BUNGALOW · 3 BEDS | Point Boston Beach House</span>
        <p class="p-heading">Entire Guest House <span class="heart-red"><i class="fas fa-heart"></i></span>
        </p>
        <p>1900$ </p>
        <p> <i class="fa fa-star" aria-hidden="true"></i> 4.5 (200)<p>
        <div class="btn-center">
              <a href="#" class="btn" title="book">View Details</a>
        </div>
      </div>

      </div>
  </div>


</section>
</section>

