<section class="rommGrid">
{{#each rooms}}
<article class="rommGridItem">
    <p><img src="{{this.imgURL}}" class="roomIMG"alt="something"></p>
    <p>{{this.title}}</p>
    <p>{{this.price}}</p>
    <p>{{this.rating}}</p>
</article>
{{/each}}
</section>
