<section class="information">
    <article class="coverphoto">
        <img src="/img/cover1.jpg" alt="" class="coverpic" style=" width: 100%;
  height: 45em;
    background-position: center;
    background-repeat: no-repeat;">
    <aside class="covertext">
        <form action="" class="bookingform">
            <h3 style="margin-bottom: 0.4em;">Book unique places to stay and things to do.</h3>
            <label for="where"class="formlabel">
                Where
            </label>
            <br>
            <select name="city">
            <option value="toronto">Toronto</option>
            <option value="geulph">Geulph</option>
            <option value="brampton">Brampton</option>
            <option value="kitchener">Kitchener</option>
            <option value="montreal">Montreal</option>
            <option value="niagara">Niagara</option>
            </select>
            <br>
            <label for="checkin"> CHECK-IN</label>
            <label for="checkout"> CHECK-OUT</label>
            <input type="date" name="checkindate">
            <input type="date" name="checkoutdate">
            <br>
            <label for="guests">Guests</label>
            <br>
            <select name="guestselect">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
            <option value="sixplus">6+</option>
            </select>
            <br>
            <button type="submit" class="searchButton"> Search</button>
            


        </form>
        


    </aside>
    </article>


</section>
    <section class="info">
        <h1 class="heading">
            About Us
        </h1>
        <h4>
            Airbnb is one of the world’s largest marketplaces for unique, authentic places to stay and things to do,
            offering over 7 million accommodations and 40,000 handcrafted activities, all powered by local hosts. An
            economic empowerment engine, Airbnb has helped millions of hospitality entrepreneurs monetize their spaces
            and their passions while keeping the financial benefits of tourism in their own communities. With more than
            half a billion guest arrivals to date, and accessible in 62 languages across 220+ countries and regions,
            Airbnb promotes people-to-people connection, community and trust around the world.
        </h4>
    </section>


<h1 class="heading">
    Fast Facts
</h1>
<section class="fastfactsgrid">
    <article class="fastfactsgriditem">
        <h2 class="headingingrid">
            7M+
        </h2>
        <p>
            Airbnb listings worldwide
        </p>

    </article>
    <article class="fastfactsgriditem">
        <h2 class="headingingrid">
            100K+ </h2>
        <p>
            cities with Airbnb listings
        </p>

    </article>
    <article class="fastfactsgriditem">
        <h2 class="headingingrid">
            220+ </h2>
        <p>
            countries and regions with Airbnb listings
        </p>

    </article>
    <article class="fastfactsgriditem">
        <h2 class="headingingrid">
            500M </h2>
        <p>
            Airbnb guest arrivals all-time
        </p>

    </article>
    <article class="fastfactsgriditem">
        <h2 class="headingingrid">
            2M+ </h2>
        <p>
            average number of people staying on Airbnb per night
        </p>

    </article>
    <article class="fastfactsgriditem">
        <h2 class="headingingrid">
            1K+ </h2>
        <p>
            cities with Airbnb Experiences
        </p>

    </article>

</section>
<section class="promotions">
    <article >
        <img src="/img/cover.jpg" alt="" style=" width: 100%;
  height: 25em;
    background-position: center;
    background-repeat: no-repeat;">
    </article>
    <article class="promotionsgriditem">
        <p>OVERNIGHT TRIP.MELBOURNE</p>
        <h3>Surf and Camp on the Great Ocean Road</h3>
        <p>What we will do:</p>
        <p>Beginners and intermediate surfers are welcome on this 2-day road trip along the Great Ocean
            Road,
            Australia’s most scenic coastline.So you can get the most out of our seaside time, we’ll stop
            for a two-hour surf lesson at an accredited school. When we’re not surfing, we’ll watch the pro
            surfers at Bells Beach, see koalas and birds at Kennett River, visit the legendary 12 Apostles,
            explore caves at Loch Ard Gorge beach, and drive through Otway Rainforest</p>
    </article>
    