<section class="information">
    <article class="coverphoto">
        <img src="/img/cover1.jpg" alt="" class="coverpic" style=" width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                min-height: 65vh;
                position: relative">
        <aside class="covertext">
            <form action="" class="bookingform">
                <h3 style="margin-bottom: 0.5em; color:rgb(4, 97, 105); margin-bottom:1.2em">Book unique places to stay
                    and things to do.</h3>
                <hr style="color: rgb(4, 97, 105);">
                <div class="form_element">
                    <label for="where" class="formlabel">
                        Where
                    </label>
                    <select name="city">
                        <option value="toronto">Toronto</option>
                        <option value="geulph">Geulph</option>
                        <option value="brampton">Brampton</option>
                        <option value="kitchener">Kitchener</option>
                        <option value="montreal">Montreal</option>
                        <option value="niagara">Niagara</option>
                    </select>
                </div>

                <div class="form_element">
                    <label for="checkin"> Check-in</label>
                    <input type="date" name="checkindate">
                </div>

                <div class="form_element">
                    <label for="checkout"> Check-out</label>
                    <input type="date" name="checkoutdate">
                </div>
                <div class="form_element">
                    <label for="guests">Guests</label>
                    <select name="guestselect">
                        <option value="one">1</option>
                        <option value="two">2</option>
                        <option value="three">3</option>
                        <option value="four">4</option>
                        <option value="five">5</option>
                        <option value="six">6</option>
                        <option value="sixplus">6+</option>
                    </select>
                </div>
                <button type="submit" class="btn"> Search</button>
            </form>



        </aside>
    </article>


</section>

<h3 class="heading" style="text-align: center; color:#6CD2DB">
    About Us
</h3>
<section class="videosection">
    <article>
        <iframe src="https://www.youtube.com/embed/dA2F0qScxrI" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>

    <article>
        <iframe src="https://www.youtube.com/embed/arBcqEC4QdA" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>
</section>
<p class="aboutus_info" style="font-style: italic;">
    "Airbnb is one of the world’s largest marketplaces for unique, authentic places to stay and things to do,
    offering over 7 million accommodations and 40,000 handcrafted activities, all powered by local hosts. An
    economic empowerment engine, Airbnb has helped millions of hospitality entrepreneurs monetize their spaces
    and their passions while keeping the financial benefits of tourism in their own communities. With more than
    half a billion guest arrivals to date, and accessible in 62 languages across 220+ countries and regions,
    Airbnb promotes people-to-people connection, community and trust around the world."
</p>



<h3 class="heading" style="text-align: center; color:#6CD2DB">
    Fast Facts
</h3>
<section class="fastfactsgrid">
    <article class="fastfactsgriditem">
        <h2 class="headingingrid">
            7M+
        </h2>
        <p>
            Airbnb listings worldwide
        </p>
    </article>
    <article class="fastfactsgriditem">
        <h2 class="headingingrid">
            100K+ </h2>
        <p>
            cities with Airbnb listings
        </p>

    </article>
    <article class="fastfactsgriditem">
        <h2 class="headingingrid">
            220+ </h2>
        <p>
            countries and regions with Airbnb listings
        </p>

    </article>
    <article class="fastfactsgriditem">
        <h2 class="headingingrid">
            500M </h2>
        <p>
            Airbnb guest arrivals all-time
        </p>

    </article>
    <article class="fastfactsgriditem">
        <h2 class="headingingrid">
            2M+ </h2>
        <p>
            average number of people staying on Airbnb per night
        </p>

    </article>
    <article class="fastfactsgriditem">
        <h2 class="headingingrid">
            1K+ </h2>
        <p>
            cities with Airbnb Experiences
        </p>

    </article>

</section>
<section>

    
</section>
<h3 class="heading" style="text-align: center; color:#6CD2DB"> Promotions</h3>
<section class="promotions">
    <article>
        <img src="/img/cover.jpg" alt="" style=" width: 100%;
  height: 25em;
    background-position: center;
    background-repeat: no-repeat;">
    </article>

    <article class="promotionsgriditem">
        <p>OVERNIGHT TRIP.MELBOURNE- <button class="btn">FREE 1 Night</button></p>
        <h3>Surf and Camp on the Great Ocean Road</h3>
        <p>What we will do:</p>
        <p>Beginners and intermediate surfers are welcome on this 2-day road trip along the Great Ocean
            Road,
            Australia’s most scenic coastline.So you can get the most out of our seaside time, we’ll stop
            for a two-hour surf lesson at an accredited school. When we’re not surfing, we’ll watch the pro
            surfers at Bells Beach, see koalas and birds at Kennett River, visit the legendary 12 Apostles,
            explore caves at Loch Ard Gorge beach, and drive through Otway Rainforest</p>
            <button class="btn"> Read more</button>
    </article>

    <article>
        <img src="/img/cover4.jpg" alt="" style=" width: 100%;
  height: 25em;
    background-position: center;
    background-repeat: no-repeat;">
    </article>

    <article class="promotionsgriditem">
        <p>Holiday TRIP.Bali <button class="btn">FREE 1 Room </button></p>
        <h3>Chill and Thrill peacefully</h3>
        <p>What we will do:</p>
        <p>Sip afternoon tea while swaying in a hanging basket chair, then work up the energy to stroll past lush
            greenery to a shared pool. Sunbathe on wooden designer loungers and dip into turquoise waters. Refresh in an
            open-air shower or soak in a bathtub.Milu Villa is located near the town of Ubud. There are some restaurants
            nearby and good massage place, too. The closest supermarket is 5 minutes away by bike—bike and scooter are
            the best ways to get around.

        </p>
        <button class="btn"> Read more</button>
    </article>
</section>

<section class="informational_section">


    <article>

    </article>

</section>