<div class="login-page">
    <div class="form">
    <form class="login-form" method="POST" action="/loginvalidation">
      {{#each confirmation}}
      <div class="errors" style="font-size: larger;">{{this}}</div>
      {{/each}}
    <p style="color: rgb(72, 80, 153);">Sign-in using Facebook or google</p>
    <p>(or)</p>
    <hr>
      <h3 style="text-align: center; color:rgb(4, 97, 105); margin-bottom:1.2em" >Login Here For Deals</h3>
      <input type="text"  placeholder="Enter Username" name="username"/>
      <input type="password"  placeholder="Enter Password" name="password"/>
        {{#each messages}}
      <div class="errors">{{this}}</div>
      {{/each}}
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <button type="submit" class="btn">login</button>
      <p class="message">Not registered? <a href="/register">Create an account</a></p>
    </form>
    </div>
</div>


